#topbar {
    background-color: var(--topbar-bg);
    color: var(--topbar-text-color);
    font-size: var(--topbar-font-size);
    .nav {
        --bs-nav-link-padding-x: 1rem;
        --bs-nav-link-padding-y: .5rem;
        .nav-item:first-child {
            .nav-link {
                padding-left: 0;
            }
        }
    }
    .nav-link {
        color: var(--topbar-text-color);
        i {
            color: var(--topbar-icon-color);
        }
        i + span {
            margin-left: 0.25rem;
        }
    }
    span.nav-link {
        color: var(--topbar-text-color);
        &:hover {
            color: var(--topbar-text-color);
        }
    }
    .column-2 {
        display: flex;
        justify-content: end;
        align-items: center;
    }
    .nav.social {
        a {
            padding: var(--bs-nav-link-padding-y) 0;
        }
    }
    .nav-cart {
        .nav-link {
            padding-right: .5rem;
            padding-left: .5rem;
        }
        .nav-item-cart .badge {
            position: absolute;
            top: 0;
            right: 0;
            font-weight: normal;
            padding: 0.2em 0.35rem;
            font-size: .75rem;
            background-color: var(--topbar-bg);
            color: white;
        }
    }
}

@include media-breakpoint-down(md) {
    #topbar {
        .nav {
            --bs-nav-link-padding-x: 0.5rem;
            --bs-nav-link-font-size: 0.75rem;
        }
        .column-1 {
            display: flex;
            justify-content: center;
        }
        .column-2 {
            justify-content: center;
        }
    }
}
