/* Crefto custom senza passare dal SAAS */

@media (max-width: 1399px) {
    .menu-main-container { display: none !important; }
    button.menu-toggle { display: block !important; }
}

@media (min-width: 1400px) {
    .menu-main-container { display: flex !important; }
    button.menu-toggle { display: none !important; }
}



/* Blocco HTML Image link */

.border-radius-10px {
  border-radius: 0px !important;
}

/* Rimuove il Colore del bordo sul Blocco FAQ */
.accordion-button:focus {
    box-shadow: none !important;
    border-color: #ffffff !important;
}

/* Banner Sito in costruzione per amministratori */
#offline { position: sticky; left: 0; top: 0; height: 30px; font-size: 14px; }

/* REGOLE RESPONSIVE A RIGA 390 circa  */


/* Varie  - tipo width sub-menu*/

.navbar-nav .dropdown-menu {
    --bs-dropdown-min-width: 15rem;
    border-radius: 0;
}
/* Larghezza dropdowmenu AREE  */
#dropdown-menu-3 {
    --bs-dropdown-min-width: 13rem;
    border-radius: 0;
}


/* nasconde badge di google reca
.grecaptcha-badge { visibility: hidden; }
*/

/* Effetto zoom in per immagini di tutti i blocchi senza amimazione */
/* [1] The container */

/* 1 End effetto Zoom Fast*/
.img-hover-zoomfast {
    /*height: 300px;  [1.1] Set it as per your need */
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoomfast img {
    transition: transform .3s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoomfast:hover img {
    transform: scale(1.07);
}
/* End effetto Zoom */


/* 2 End effetto Zoom Slow Fast IN*/

.img-hover-zoomfast-In {
    /*height: 300px;  [1.1] Set it as per your need */
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoomfast-In img {
    transition: transform .3s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoomfast-In:hover img {
    transform: scale(0.98);
}
/* End effetto Zoom */




/* Vari CSS per elenchi puntati */

/* Elenco puntato spunta arancio */
.list-icon.list-icon-colored li::before, .list-icon.icon-list-colored i { color: #ff9000; }
.list-icon.list-icon-check li::before {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
}
.list-icon li::before {
    margin-left: -20px;
    position: absolute;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-weight: 900;
}
.list-icon li {
    margin-bottom: 10px;
    margin-left: 20px;
}
.list-icon {
    list-style: none;
}
/* Altro elenco puntato con la i di info */
.list-icon.list-icon-info li::before {
    content: "\f05a";
    font-family: "Font Awesome 5 Free";
}
/* altro Elenco puntato spunta arancio freccia bold bianca*/
.list-icon.list-icon-uncheck li::before {
    content: "\f144";
    font-family: "Font Awesome 5 Free";
}
/*Altro Elenco puntato spunta arancio freccia sottile bianca*/
.list-icon.list-icon-arrow-circle li::before {
    content: "\f0a9";
    font-family: "Font Awesome 5 Free";
}
/* Altro elenco puntato circolare con puntino bianco */
.list-icon.list-icon-circle li::before {
    content: "\f192";
    font-family: "Font Awesome 5 Free";
}
/* Elenco puntato arrow arancione */
.list-icon.list-icon-arrow li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f054";
}

/* Fine elenchi puntati */

/* Effetti Mouseover Immagini Gallery o per altri blocchi */

.column {  margin: 15px 15px 0; padding: 0; }
.column:last-child { padding-bottom: 60px; }
.column::after { content: ""; clear: both; display: block; }
.column div { position: relative; float: left; margin: 0 0 0 25px; padding: 0; }
.column div:first-child { margin-left: 0; }
.column div span {
    position: absolute;
    bottom: -20px;
    left: 0;
    z-index: -1;
    display: block;
    margin: 0;
    padding: 0;
    color: #444;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    opacity: 0;
}
figure {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
figure:hover + span {
    bottom: -36px;
    opacity: 1;
}

/* Zoom In #1 */
.hover01 figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.hover01 figure:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

/* Zoom In #2 */
.hover02 figure img {
    height: auto;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.hover02 figure:hover img {
}

/* Zoom Out #1 */
.hover03 figure img {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.hover03 figure:hover img {
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* Zoom Out #2 */
.hover04 figure img {
    height: auto;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.hover04 figure:hover img {
}

/* Slide */
.hover05 figure img {
    margin-left: 30px;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.hover05 figure:hover img {
    margin-left: 0;
}

/* Rotate */
.hover06 figure img {
    -webkit-transform: rotate(15deg) scale(1.4);
    transform: rotate(15deg) scale(1.4);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.hover06 figure:hover img {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
}

/* Blur */
.hover07 figure img {
    -webkit-filter: blur(3px);
    filter: blur(3px);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.hover07 figure:hover img {
    -webkit-filter: blur(0);
    filter: blur(0);
}

/* Gray Scale */
.hover08 figure img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.hover08 figure:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

/* Sepia */
.hover09 figure img {
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.hover09 figure:hover img {
    -webkit-filter: sepia(0);
    filter: sepia(0);
}

/* Blur + Gray Scale */
.hover10 figure img {
    -webkit-filter: grayscale(0) blur(0);
    filter: grayscale(0) blur(0);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.hover10 figure:hover img {
    -webkit-filter: grayscale(100%) blur(3px);
    filter: grayscale(100%) blur(3px);
}

/* Opacity #1 */
.hover11 figure img {
    opacity: 1;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.hover11 figure:hover img {
    opacity: 0.5;
}

/* Opacity #2 */
.hover12 figure {
    background: #1abc9c;
}
.hover12 figure img {
    opacity: 1;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.hover12 figure:hover img {
    opacity: 0.5;
}

/* Flashing */
.hover13 figure:hover img {
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
}
@-webkit-keyframes flash {
    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}
@keyframes flash {
    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}

/* Shine */
.hover14 figure {
    position: relative;
}
.hover14 figure::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(
        left,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.3) 100%
    );
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.3) 100%
    );
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.hover14 figure:hover::before {
    -webkit-animation: shine 0.75s;
    animation: shine 0.75s;
}
@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}
@keyframes shine {
    100% {
        left: 125%;
    }
}

/* Circle */
.hover15 figure {
    position: relative;
}
.hover15 figure::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: block;
    content: "";
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
}
.hover15 figure:hover::before {
    -webkit-animation: circle 0.75s;
    animation: circle 0.75s;
}
@-webkit-keyframes circle {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}
@keyframes circle {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}

/* Fine effetti immagini MuseOver */

/* Blocco Image Link */


.block-imagelink .col-lg-6 { padding: 20px; position: relative;top: 20px; }
.block-imagelink .col-lg-7 { padding: 20px; position: relative;left:-30px;top: 20px; }
.block-imagelink .title { font-size: 2rem; }
.block-imagelink #second { padding: 40px; position: relative;left:30px;top: 20px; }
.block-imagelink #second20 { padding: 40px position: relative; padding-right: 50px; }
.block-imagelink #btn-imagelink-1 { background: transparent; background-color: transparent; border: 2px solid; text-transform: uppercase; padding: 10px 15px;}

/* Block HTML */

.block-html .col-lg-9 { flex: 0 0 auto; width: 82%; }



/* REGOLE RESPONSIVE **********/

/**********************************************************************
       da 300 a 449px
***********************************************************************/

@media only screen and (min-width: 300px) and (max-width: 449px) {

    /* Questo valore potrebbe far apparire la scrollbar orizzontale */
    .block-imagelink .container { max-width: 90%; }

    /* Qui alterno i due box foto e testo su stessa riga */
    .block-imagelink .col-lg-5 { width:100%; position: unset; padding-right:0; padding-left: 0; }
    .block-imagelink .col-lg-6 { padding: 12px; position: unset; margin: -20px 0px 5px 0px; }
    .block-imagelink .col-lg-7 { padding: 20px!important; margin: -24px 0px 0px 0px; }
    .block-imagelink #second { padding: 20px; position: relative;left:0px;top: 0px; }

    /* Titolo Slideshow */
    .owl-block-slideshow.owl-theme .item .title {
        font-size: 1.2rem;
        font-weight: 700;
        margin-bottom: 0.7rem;
    }
    /* Descrizione Slideshow */
    .owl-block-slideshow.owl-theme .item .caption .description {
        line-height: 1;
        font-size: 13px;
    }

    /* Testo Topbar */
    #topbar .nav-contacts .nav-link {
        --bs-nav-link-padding-x: .25rem;
        --bs-nav-link-padding-y: .5rem;
        text-align: center;
        font-size: 13px;
    }


    /* Block HTML */

    .block-html .col-lg-9 { flex: 0 0 auto; width: 82%; }

    /* Testo footer */

    .copyright { font-size: 0.9rem; }

    /* Icona WhatsApp */

    .wcs_button {
        padding: 4px 9px!important;
        border-radius: 40px!important;
        background: #26C281;
        color: #fff;
        display: inline-block;
        margin-right: -20px!important;
        margin-bottom: -100px!important;
    }

    #back-to-top {
        margin-bottom: 44px!important;
    }


}


/****************************************************
       da 450 a 809px
*****************************************************/
@media only screen and (min-width: 450px) and (max-width: 809px) {


    /* Blocco Image Link */

    .block-imagelink .col-lg-5 { width:100%; position: unset; padding-right:0; padding-left: 0; }
    .block-imagelink .col-lg-6 { padding: 20px; position: relative;margin-left:-24px;top: 20px; }
    .block-imagelink .col-lg-7 { padding: 20px; position: relative; left:-30px;top: 20px; }
    .block-imagelink .title { font-size: 2rem; }

    .block-imagelink #second { padding: 40px; position: relative;left:30px;top: 20px; }
    .block-imagelink #second20 { padding: 40px; position: relative;left:2px;top: -6px; padding-right: 20px !important; }
    .block-imagelink #btn-imagelink-1 { background: transparent; background-color: transparent; border: 2px solid; text-transform: uppercase; padding: 10px 15px;}

    /* Qui alterno i due box foto e testo su stessa riga */

    .block-imagelink .col-lg-6 { padding: 12px; position: unset; margin: -20px 0px 5px 0px; }
    .block-imagelink .col-lg-7 { padding: 40px!important; position: unset; margin: -24px 0px 0px 0px; }
    .block-imagelink #second { padding: 40px; position: relative;left:0px;top: 0px; }

    /* Titolo Slideshow */
    .owl-block-slideshow.owl-theme .item .title {
        font-size: 1.8rem;
        font-weight: 700;
        margin-bottom: 0.7rem;
    }
    /* Descrizione Slideshow */
    .owl-block-slideshow.owl-theme .item .caption .description {
        line-height: 1;
        font-size: 14px;
    }

    /* Testo Topbar */
    #topbar .nav-contacts .nav-link {
        --bs-nav-link-padding-x: .25rem;
        --bs-nav-link-padding-y: .5rem;
        text-align: center;
        font-size: 14px;
    }

    /* Icona WhatsApp */

    .wcs_button {
        padding: 4px 9px!important;
        border-radius: 40px!important;
        background: #26C281;
        color: #fff;
        display: inline-block;
        margin-right: -20px!important;
        margin-bottom: -100px!important;
    }

    #back-to-top {
        margin-bottom: 64px!important;
    }


}

/*************************
       da 810 a 991px
*************************/
@media only screen and (min-width: 810px) and (max-width: 991px) {

    /* Questo valore potrebbe far apparire la scrollbar orizzontale  */


    /* Blocco Image Link */

    .block-imagelink .col-lg-6 { padding: 20px; position: relative;margin-left:0px;top: 20px; }
    .block-imagelink .col-lg-7 { padding: 20px; position: relative;left:0px;top: 20px; }
    .block-imagelink .title { font-size: 2rem; }
    .block-imagelink #second { padding: 40px; position: relative;left:0px;top: 20px; }
    .block-imagelink #second20 { padding: 40px position: relative; padding-right: 50px; }
    .block-imagelink #btn-imagelink-1 { background: transparent; background-color: transparent; border: 2px solid; text-transform: uppercase; padding: 10px 15px;}

    /* Qui alterno i due box foto e testo su stessa riga */
    .block-imagelink .col-lg-5 { width:100%; position: unset; padding-right:0; padding-left: 0; }
    .block-imagelink .col-lg-6 { padding: 12px; position: unset; margin: -20px 0px 5px 0px; }
    .block-imagelink .col-lg-7 { padding: 40px; position: unset; margin: -24px 0px 5px 0px; }
    .block-imagelink #second { padding: 40px; position: relative;left:0px;top: -1px; }


    /* Titolo Slideshow */
    .owl-block-slideshow.owl-theme .item .title {
        font-size: 2.3rem;
        font-weight: 400;
        margin-bottom: 1rem;
    }
    /* Descrizione Slideshow */
    .owl-block-slideshow.owl-theme .item .caption .description {
        line-height: 1;
        font-size: 16px;
    }

    /* Testo Topbar */
    #topbar .nav-contacts .nav-link {
        --bs-nav-link-padding-x: .25rem;
        --bs-nav-link-padding-y: .5rem;
        text-align: center;
        font-size: 15px;
    }


}

/*************************
       da 992px a 1199
*************************/
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    /* Questo valore potrebbe far apparire la scrollbar orizzontale  */


    /* Blocco Image Link */

    .block-imagelink .col-lg-6 { padding: 20px; position: relative;margin-left:0px;top: 20px; }
    .block-imagelink .col-lg-7 { padding: 20px; position: relative;left:0px;top: 20px; }
    .block-imagelink .title { font-size: 2rem; }
    .block-imagelink #second { padding: 40px; position: relative;left:0px;top: 20px; }
    .block-imagelink #second20 { padding: 40px position: relative; padding-right: 50px; }
    .block-imagelink #btn-imagelink-1 { background: transparent; background-color: transparent; border: 2px solid; text-transform: uppercase; padding: 10px 15px;}

    /* Qui alterno i due box foto e testo su stessa riga */
    .block-imagelink .col-lg-5 { width:40%; position: unset; padding-right:0; padding-left: 0; }
    .block-imagelink .col-lg-6 { padding: 12px; position: unset; margin: -20px 0px 5px 0px; }
    .block-imagelink .col-lg-7 { padding: 40px; position: unset; margin: -24px 0px 5px 0px; }
    .block-imagelink #second { padding: 40px; position: relative;left:0px;top: -1px; }

    /* Titolo Slideshow */
    .owl-block-slideshow.owl-theme .item .title {
        font-size: 2.5rem;
        font-weight: 400;
        margin-bottom: 1rem;
    }
    /* Descrizione Slideshow */
    .owl-block-slideshow.owl-theme .item .caption .description {
        line-height: 1;
        font-size: 18px;
    }


}

/*************************
       1200px 1400 px
*************************/
@media only screen and (min-width: 1200px) and (max-width: 2400px) {

    /* Questo valore potrebbe far apparire la scrollbar orizzontale  */
    .block-imagelink .container { max-width: 1400px; }

    /* Blocco Image Link */

    .block-imagelink .col-lg-6 { padding: 20px; position: relative;margin-left:0px;top: 20px; }
    .block-imagelink .col-lg-7 { padding: 40px; position: relative;left:0px;top: 20px; }
    .block-imagelink .title { font-size: 2rem; }
    .block-imagelink #second { padding: 40px; position: relative;left:0px;top: 20px; }
    .block-imagelink #second20 { padding: 40px position: relative; padding-right: 50px; }
    .block-imagelink #btn-imagelink-1 { background: transparent; background-color: transparent; border: 2px solid; text-transform: uppercase; padding: 10px 15px;}

    /* Qui alterno i due box foto e testo su stessa riga */
    .block-imagelink .col-lg-5 { width:40%; position: unset; padding-right:0; padding-left: 0; }
    .block-imagelink .col-lg-6 { padding: 12px; position: unset; margin: -20px 0px 5px 0px; }
    .block-imagelink .col-lg-7 { padding: 40px; position: unset; margin: -24px 0px 5px 0px; }
    .block-imagelink #second { padding: 40px; position: relative;left:0px;top: -1px; }


}

